
<%- include("../layouts/adminheader")%>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <form action="/admin/addproduct" method="post" enctype="multipart/form-data"></form>
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <!-- <button form="product-form"  class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                            <button  form="product-form"  class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="/admin/addproduct" method="post" enctype="multipart/form-data" id="product-form">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text" name="productname"  class="form-control" id="product_name">
                                    <p class="error-message" id="productnameError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea  name="description" class="form-control" rows="4"></textarea>
                                    <p class="error-message" id="descriptionError"></p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" name="Productprice" type="text" class="form-control">
                                                <p class="error-message" id="regularPriceError"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">offer</label>
                                            <input placeholder="%" name="Salesprice" type="text" class="form-control">
                                            <p class="error-message" id="promotionalPriceError"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        
                                    </div>
                                </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Quantity</label>
                                            <input type="text" placeholder="" name="quantity" class="form-control" id="product_name">
                                            <p id="quantityError" class="error-message"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Color</label>
                                            <input type="text" name="color" class="form-control" id="product_name">
                                            <p id="colorError" class="error-message"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    
                                </div>
                           
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <label class="form-label">Image</label>
                                <input type="file" name="file" class="form-control" id="product_image" accept="image/*" multiple/>
                                <p id="imageError" class="error-message" style="color: red;"></p>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Organization</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select name="categoryname" class="form-control" id="product_name">
                                        <option value="" selected disabled>Select a category</option>
                                        <% categories.forEach(category => { %>
                                            <% if (category.active === true) { %>
                                                <option value="<%= category.categoryname %>"><%= category.categoryname %></option>
                                            <% } %>
                                        <% }); %>
                                    </select>
                                    
                                    <p id="categorynameError" class="error-message"></p>
                                </div>
                                
                            </div> <!-- row.// -->
                        </div>
                        
                </form>
                </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main> 
    <script>
        document.getElementById("product_image").addEventListener("change", function (v) {
            const fileInput = this;
            const errorElement = document.getElementById('imageError');
            errorElement.textContent = "";
            const allowedTypes = ['image/jpeg', 'image/png', 'image/gif'];
            if (fileInput.files.length > 0) {
                const selectedFileType = fileInput.files[0].type;
                if (!allowedTypes.includes(selectedFileType)) {
                    errorElement.textContent = "Invalid file type, Add Images";
                }
            } else {
                v.preventDefault();
            }
        });
    
        const form = document.getElementById('product-form');
        const productNameInput = document.querySelector('input[name="productname"]');
        const descriptionInput = document.querySelector('textarea[name="description"]');
        const regularPriceInput = document.querySelector('input[name="Productprice"]');
        const offerInput = document.querySelector('input[name="Salesprice"]');
        const quantityInput = document.querySelector('input[name="quantity"]');
        const colorInput = document.querySelector('input[name="color"]');
        const imageInput = document.querySelector('input[name="file"]');
        const categoryInput = document.querySelector('select[name="categoryname"]');
    
        function validateProductName() {
            const productName = productNameInput.value.trim();
            const errorElement = document.getElementById('productnameError');
            errorElement.textContent = "";
    
            if (productName === '' || /^\s*$/.test(productName)) {
                errorElement.textContent = 'Product name is required.';
                return false;
            }
    
            return true;
        }
    
        function validateDescription() {
            const description = descriptionInput.value.trim();
            const errorElement = document.getElementById('descriptionError');
            errorElement.textContent = "";
    
            if (description === '' || /^\s*$/.test(description)) {
                errorElement.textContent = 'Description is required.';
                return false;
            }
    
            return true;
        }
    
        function validateRegularPrice() {
            const regularPrice = regularPriceInput.value.trim();
            const errorElement = document.getElementById('regularPriceError');
            errorElement.textContent = "";
    
            if (regularPrice === '') {
                errorElement.textContent = 'Regular price is required.';
                return false;
            }
    
            if (isNaN(regularPrice) || parseFloat(regularPrice) < 0) {
                errorElement.textContent = 'Regular price must be a non-negative number.';
                return false;
            }
    
            return true;
        }
    
        function validateOffer() {
            const offer = offerInput.value.trim();
            const errorElement = document.getElementById('promotionalPriceError');
            errorElement.textContent = "";
    
            if (offer === '') {
                errorElement.textContent = 'Offer is required.';
                return false;
            }
    
            if (isNaN(offer) || parseFloat(offer) < 0) {
                errorElement.textContent = 'Offer must be a non-negative number.';
                return false;
            }
    
            if (offer > 100) {
                errorElement.textContent = 'Please enter an offer around 100%.';
                return false;
            }
    
            return true;
        }
    
        function validateQuantity() {
            const quantity = quantityInput.value.trim();
            const errorElement = document.getElementById('quantityError');
            errorElement.textContent = "";
    
            if (quantity === '' || /^\s*$/.test(quantity)) {
                errorElement.textContent = 'Quantity is required.';
                return false;
            }
    
            return true;
        }
    
        function validateColor() {
            const color = colorInput.value.trim();
            const errorElement = document.getElementById('colorError');
            errorElement.textContent = "";
    
            if (color === '' || /^\s*$/.test(color)) {
                errorElement.textContent = 'Color is required.';
                return false;
            }
    
            return true;
        }
    
        function validateImage() {
            const files = imageInput.files;
            const errorElement = document.getElementById('imageError');
            errorElement.textContent = "";
    
            if (files.length === 0) {
                errorElement.textContent = 'Image is required.';
                return false;
            }
    
            const selectedFileType = files[0].type;
            const allowedTypes = ['image/jpeg', 'image/png', 'image/gif'];
    
            if (!allowedTypes.includes(selectedFileType)) {
                errorElement.textContent = 'Invalid file type, Add Images';
                return false;
            }
    
            return true;
        }
    
        function validateCategory() {
            const category = categoryInput.value;
            const errorElement = document.getElementById('categorynameError');
            errorElement.textContent = "";
    
            if (category === '') {
                errorElement.textContent = 'Category is required.';
                return false;
            }
    
            return true;
        }
    
        form.addEventListener('submit', function (event) {
            const isValidProductName = validateProductName();
            const isValidDescription = validateDescription();
            const isValidRegularPrice = validateRegularPrice();
            const isValidOffer = validateOffer();
            const isValidColor = validateColor();
            const isValidQuantity = validateQuantity();
        const isValidImage = validateImage();
        const isValidCategory = validateCategory();

        if (!isValidProductName || !isValidDescription || !isValidRegularPrice || !isValidOffer || !isValidQuantity || !isValidColor || !isValidImage || !isValidCategory) {
            event.preventDefault();
        }
    });
</script>

    
    

    <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>