<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/admin-assets/imgs/theme/WhatsApp Image 2023-11-10 at 09.44.18_1c3dd3f9.jpg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                    <span class="text">userManagement</span>
                </a>
                <div class="submenu">
                    <a href="/admin/userlist">Userlist</a>
                   
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/"> <i class="icon material-icons md-store"></i>
                    <span class="text">category Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/category">add category
                </div>
            </li>
            <li class="menu-item has-submenu">
                
                <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/addproduct">addProduct</a>
                    <a href="/admin/products">Product List</a>
                    <!-- <a href="page-products-grid-2.html">Product grid 2</a>
                    <a href="page-categories.html">Categories</a> -->
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="/admin/orders">Orders</a>
                    <!-- <a href="page-orders-2.html">Order list 2</a>
                    <a href="page-orders-detail.html">Order detail</a> -->
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Coupons</span>
                </a>
                <div class="submenu">
                    <a href="/admin/couponCreate">Create coupon</a>
                    <a href="/admin/coupons">Coupns</a>
                    <!-- <a href="page-seller-detail.html">Seller profile</a> -->
                </div>
            </li>
           

           
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Sales Report</span>
                </a>
                <div class="submenu">
                    <a href="/admin/salesreport">salesreport</a>
                   
                </div>
            </li>
            
            
          
           
        </ul>
        <hr>
        
        <br>
        <br>
    </nav>
</aside>